$bottomNavbarH: 70px;
html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#root,
#app {
    height: 100%;
}

#nav_bar {
    position: fixed;
    bottom: 0;
    height: $bottomNavbarH;
}

#second_nav_bar {
    position: fixed;
    bottom: $bottomNavbarH;
}

#overall_header {
    width: 100%;
    position: fixed;
    top: 0;
}