@import './mixin.scss';
$bottomNavbarH: 70px;
$secondBottomNavBarH: 32px;
$overallHeaderH: 44px;
html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#root,
#app {
    height: 100%;
}



a {
    /*For React Router Link*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#nav_bar {
    position: fixed;
    bottom: 0;
    height: $bottomNavbarH;
}

#second_nav_bar {
    position: fixed;
    bottom: $bottomNavbarH;
    border-bottom: lightgray solid 1px;
}

#overall_header {
    width: 100%;
    height: $overallHeaderH;
    position: fixed;
    top: 0;
    font-size: 22px;
    box-shadow: 0px 4px 8px 5px lightgray;
    @include for-phone {
        height: 28px;
        font-size: 0.8em;
    }
}
.page {
    overflow-y: auto;
    overflow-x: hidden;

    height: calc(100vh - $bottomNavbarH - $secondBottomNavBarH);
    width: 100%;
    min-width: 300px;
    background-color: rgb(228 228 231);
    padding-top: $overallHeaderH;
    position: relative;

    @include for-phone {
        padding-top: 16px;
    }
}