@tailwind base;
@tailwind components;
@tailwind utilities;



.page {
    overflow-y: auto;
    /* 10 / 12*/
    overflow-x: hidden;

    height: 100%;
    width: 100%;
    min-width: 300px;
    background-color: rgb(228 228 231);
    padding-top: 30px;
    /* for headers*/
    padding-bottom: 70px;
    /* for bottom buttons*/
    /*zinc-200*/
}


a {
    /*For React Router Link*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}