@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#root {
    display: flex;
    height: 100vh;
    width: 100vw;
}


#app {
    display: grid;
    grid-row: 3;
    grid-template-rows: 1fr 10fr 1fr;

}

.page {
    overflow-y: scroll;
    /* 10 / 12*/

    width: 100vw;
    min-width: 300px;
    background-color: rgb(228 228 231);
    /*zinc-200*/
}


a {
    /*For React Router Link*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}